<div class="container"><div class="jumbotron"><h1>Whos shoes</span> </h1></div></div>

<div class="container"><a href="/brands" id="brand-link">All available brands </a>
</br>
</br>

<hr>

</br>
</br>
<a href="/stores" id="store-link">All available stores </a>

</div>


</br>
</br>
